.container {
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
    margin-top: 150px;
}

.container img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    margin-bottom: 10px;
}

.info {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

.price {
   display: flex;
   gap: 20px;
}

.info button {
    padding: 5px;
    background-color: transparent;
    width: 150px;
    cursor: pointer;
}

.images_block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px;
    gap: 20px;
}

.images_block img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 2px solid #ada9a9;
    cursor: pointer;
}

.images_block .active {
    border-color: #e65b5b;
    transform: scale(1.2);
}